
.contact-container{
    width: 100vw;
    min-width: 320px;
    display: flex;
    // width: 100%;
    // background-color: violet;
    // @include mobileHeaderStyle()
  }

.about-image{
  flex: 1;
  position: relative;
//  @include mobileHeaderStyle()

  &_img {
    height: 500px;
    border-radius: 25px;
  }

  &_txt {
    font-family: Montserrat-Bold;
    font-size: 3rem;
    color: white;
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 3.5rem;
  }

}
.c-chronology {
  flex: 2;
}