@import '../../styles/settings/mixings.settings';
@import '../../styles/settings/variables.settings';

//Home Display


.about-image{

  margin: auto 0;
  
  @include tabletView {
    flex: 1;
    position: relative;
    padding-bottom: 6rem;
  

  }
 
  &_img {

    object-fit: cover;
    height: 230px;
    width: 230px;
    border-radius: 100%;
    
    @include tabletView {
      flex: 2;
      width: 45rem;
      height: 45rem;
    }
  }

  &_txt {
    font-family: Montserrat-Bold;
    font-size: 3rem;
    text-align: center;
    
    @include tabletView {
      width: 90%;
      padding: 2rem;
      font-size: 5rem;
      position: absolute;
      z-index: 2;
      top: 2rem;
      left: 0;
      text-align: left;

    }
  }

}

.about-description {

  padding: 0 2rem;


    @include tabletView {
      flex: 1;
      padding: 3rem;
      font-family: Montserrat-SemiBold;
      font-size: 2rem;
      text-align: center;
    }


}


// More About me 
.c-chronology {
  flex: 2;
}