@import '../settings/variables.settings';

.technologies {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 480px;
    margin: auto;
    padding: 2rem 0;
    
    h4 {
        margin-block-start: 4em;
        margin-block-end: 2em;
    }
    // @include tablet {
    //     max-width: 630px;
    // }
    span {
        font-size: 16px;
        font-weight: 500;
        // @include tablet {
        //     font-size: 20px;
        &:hover {
            color: $color-orange;
        }
        
    }
}


.project {
    padding-top: 3.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        text-align: center;
        font-size: 1.3rem;
    } 

    &-description, &-technologies {
        text-align: center;
    }

    @include tabletView {
        flex-direction: unset;
        flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }

}
