@import '../settings/mixings.settings';
@import '../settings/variables.settings';

.flip-box{
    @include desktop {
        width: 400px;
        height: 250px;
        font-size: 16px;
        h5 {
            font-size: 20px;
            font-family: Montserrat-Bold;
        }
       &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            transform: translate(-40px, 20px);
            &:hover {
                transform: rotateY(180deg);
            }
       }
       &-front,
       &-back {
           position: absolute;
           border-radius: 5px;
           width: 100%;
           height: 100%;
           -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
       }
       &-back {
           background-color: $color-green-blue;
           color: white;
           transform: rotateY(180deg);
       }
    }
    
}