.technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 480px;
    margin: auto;
    &:first-of-type {
        // @include tablet {
        //     font-size: 1.5em;
        // }
    }
    h4 {
        margin-block-start: 4em;
        margin-block-end: 2em;
    }
    // @include tablet {
    //     max-width: 630px;
    // }
    span {
        font-size: 13px;
        // color: #ffffffc7;
        font-weight: 500;
        // @include tablet {
        //     font-size: 20px;
        //     &:hover {
        //         color: #72563e;
        //     }
        // }
    }
}