.header {
    width: 100vw;
    height: 6rem;
    // background-color: blue;
    padding: 0 10rem;

    // background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row;
    &__link {
        text-decoration: none;
    }
    &__link-active {
        text-decoration-line: underline;
    }

}

// @media (max-width: ){

// }