@import '../../styles/settings/mixings.settings';
@import '../../styles/settings/variables.settings';

.header {
    background-color: transparent;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    @include mobileView {
        padding: 0px 10px;
    }
}
.figure {
    width: 10%;
    img {
        height: 3rem;
    }
}
.nav-options {
    width: 90%;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    @include mobileView {
        display: flex;
        width: 100%;
        height: 350px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
        &.active {
            background: #9899d1;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
            align-content: center;
            padding-left: 0px;
        }
    }
}
.mobile-menu {
    display: none;
    @include mobileView {
        display: block;

    }
}
@include mobileView {
    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
        &:hover {
            color: $color-purple;
        }
    }
}

.icon-up, .icon-menu {
    font-size: 24px;
}

    
//     @include tabletView {
//         &-hamburger {
//             display: none;
//         }
//         &-menu {
//             list-style: none;
//             width: 100%;
//             height: inherit;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             text-align: center;
    
    
//             li {
//             flex: 1;
//                 a {
    
//                     text-decoration: none;
//                     padding: 10px 20px;
//                     // width: 105px;
//                     // height: 50px;
//                     transition: background-position-x 0.6s linear;
//                     text-align: center;
//                     &:hover {
//                         background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
//                         -webkit-animation: line 1s;
//                         animation: line 1s;
//                     }
//                 }
           
//         }
//         }

//     }
    
   
// }


// @keyframes line {
//     0% {
//       background-position-x: 390px;
//     }
// }


