@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6u9egj');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6u9egj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6u9egj') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6u9egj') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6u9egj##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross-sign {
  &:before {
    content: $icon-cross-sign; 
  }
}
.icon-ps {
  &:before {
    content: $icon-ps; 
  }
}
.icon-ai {
  &:before {
    content: $icon-ai; 
  }
}
.icon-id {
  &:before {
    content: $icon-id; 
  }
}
.icon-lr {
  &:before {
    content: $icon-lr; 
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-ing {
  &:before {
    content: $icon-ing; 
  }
}
.icon-in {
  &:before {
    content: $icon-in; 
  }
}
.icon-quote-right {
  &:before {
    content: $icon-quote-right; 
  }
}
.icon-quote-left {
  &:before {
    content: $icon-quote-left; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket; 
  }
}
.icon-planet {
  &:before {
    content: $icon-planet; 
  }
}
.icon-angular {
  &:before {
    content: $icon-angular; 
  }
}
.icon-vuejs {
  &:before {
    content: $icon-vuejs; 
  }
}
.icon-git {
  &:before {
    content: $icon-git; 
  }
}
.icon-sass {
  &:before {
    content: $icon-sass; 
  }
}
.icon-bxl-nodejs {
  &:before {
    content: $icon-bxl-nodejs; 
  }
}
.icon-react {
  &:before {
    content: $icon-react; 
  }
}
.icon-up {
  &:before {
    content: $icon-up; 
  }
}
.icon-down {
  &:before {
    content: $icon-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}

