$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-gitlab: "\e900";
$icon-twitter: "\e901";
$icon-whatsapp: "\e902";
$icon-rocket: "\e903";
$icon-planet: "\e904";
$icon-angular: "\e905";
$icon-vuejs: "\e906";
$icon-git: "\e907";
$icon-sass: "\e908";
$icon-bxl-nodejs: "\e909";
$icon-react: "\e90a";
$icon-up: "\e90b";
$icon-down: "\e90c";
$icon-chevron-up: "\e90d";
$icon-chevron-down: "\e90e";
$icon-menu: "\e90f";

