$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cross-sign: "\e91a";
$icon-ps: "\e912";
$icon-ai: "\e913";
$icon-id: "\e914";
$icon-lr: "\e915";
$icon-gitlab: "\e900";
$icon-copy: "\e916";
$icon-mail: "\e917";
$icon-ing: "\e918";
$icon-in: "\e919";
$icon-quote-right: "\e910";
$icon-quote-left: "\e911";
$icon-twitter: "\e901";
$icon-whatsapp: "\e902";
$icon-rocket: "\e903";
$icon-planet: "\e904";
$icon-angular: "\e905";
$icon-vuejs: "\e906";
$icon-git: "\e907";
$icon-sass: "\e908";
$icon-bxl-nodejs: "\e909";
$icon-react: "\e90a";
$icon-up: "\e90b";
$icon-down: "\e90c";
$icon-chevron-up: "\e90d";
$icon-chevron-down: "\e90e";
$icon-menu: "\e90f";

