@import '../../styles/settings/variables.settings';


.intro {
  position: relative;
  height: 100vh;
    &-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        h2 {
            font-size: 4rem;
            font-family: Montserrat-Bold;
        }
        
    }
}


.circle {
    width: 100px;
    height: 100px;
    background-color: #bb4d00;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid $color-green-blue;
    position: absolute;
    right: 20%;
    bottom: 10%;
  }


  .hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: $color-deep-blue;
    border-color: $color-deep-blue;
    position: relative;
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 30%;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}