@import '../../styles/settings/variables.settings';


.intro {
  position: relative;
  height: 100vh;
    &-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        h2 {
            font-size: 4rem;
            font-family: Montserrat-Bold;
        }
        
    }
}


.circle {
    width: 100px;
    height: 100px;
    background-color: #bb4d00;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid $color-green-blue;
    position: absolute;
    right: 20%;
    bottom: 10%;
  }

