@mixin mobileView {
  @media all and (max-width: 768px) {
    @content;
  }
}


@mixin tabletView {
    @media all and (min-width: 768px) {
        @content;
    }
}

@mixin desktopView {
    @media all and (min-width: 1024px) {
        @content;
    }
}


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}