@mixin mobileView {
  @media all and (max-width: 768px) {
    @content;
  }
}


@mixin tabletView {
    @media all and (min-width: 768px) {
        @content;
    }
}

@mixin desktopView {
    @media all and (min-width: 1024px) {
        @content;
    }
}


@mixin flex($value) {
    display: flex;
    justify-content: $value;
    align-items: center;
}


@mixin flexGrow($number) {
    flex: $number;
}  

@mixin underlineTitle($width, $color) {
    width: $width;
    padding-bottom: 0.5rem;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-bottom: 1px solid $color;

}