:root{
    --font-family-base : Mulish;
    --font-family-titles: Montserrat-Bold;
    --font-family-subtitles: Montserrat-SemiBold;
    --font-family-description: Montserrat-ExtraLight;
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf)
}

@font-face{
    font-family: Montserrat-SemiBold;
    src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf)
}

@font-face{
    font-family: Montserrat-ExtraLight;
    src: url(../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf)
}

@font-face{
    font-family: Mulish;
    src: url(../../assets/fonts/Mulish/Mulish-ExtraLight.ttf)
}

@font-face{
    font-family: Mulish-SemiBold;
    src: url(../../assets/fonts/Mulish/Mulish-SemiBold.ttf)
}

$color-mint: rgb(170, 216, 208);
$color-green-blue: rgb(16, 126, 125);
$color-deep-blue: #094b7f;
$color-light-orange: rgb(241, 134, 31);
$color-b-orange: #e43f12;
$color-orange: #bb4d00;
$color-pink: #aa1355;
$color-purple: #601547;


