@import '../../../styles/settings/variables.settings';




.timeline {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    position: relative;

    &-item {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      margin: 10px 0;
      width: 50%;
      &-content {
        max-width: 70%;
        background-color: purple;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding: 15px;
      }
    }

}


.timeline::after {
  background-color: aquamarine;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}
.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 30px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}
